.wrapper{
  @apply 
    bg-green-500 
    p-4 
    pb-2 
    shadow-md
}

.containers {
  @apply 
    container 
    mx-auto
}

.menu {
  @apply 
    bg-green-200 
    p-5 
    shadow-md 
    text-center 
    font-bold 
    text-gray-700 
}

.linkMenu {
  @apply 
    py-5 
    px-6 
    group 
    focus:bg-green-600 
    focus:text-white
    focus:outline-black
    hover:opacity-80
}